/* css styles */
/* Navbar background */
.navbar {
  background-color: #2f4358 !important;
}

/* Navbar text */
.navbar-brand,
.navbar-nav .nav-link {
  color: white !important;
}

/* Hover color */
.navbar-nav .nav-link:hover {
  color: #d9e6f2 !important;
}

/* Dropdown menu */
.navbar .dropdown-menu {
  background-color: #2f4358;
}

/* Dropdown items */
.navbar .dropdown-item {
  color: white !important;
}

/* Dropdown hover */
.navbar .dropdown-item:hover {
  background-color: #3b536b;
}